<div class="card" style="margin: 1rem; padding: 2rem;" *ngFor="let job of jobs">    
    <div class="row no-gutters">
            
            <div class="col-md-2">
                <img src="{{job._source.list_image}}" style ="max-width: 100px;" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                    <div class="class-body" >
                        <h5 class="card-title">{{ job._source.title}}</h5>
                        <h5>{{ job._source.tile}}</h5>
                        <p >{{job._source.short_list_desc}}</p>
                        <p >{{job._source.company}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{job._source.location_name}}</h6>
                    </div>
            </div>
    </div>
</div>
        


